
.main {
    background-color: rgba(255, 0, 0, 0);
    z-index: -1;
    
}


/* ========== MENU =========*/
.header-row {
    background-color: #333333;
}


    
/* ========== TITLE SCREEN SECTION ======= */

div#title-container {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%; 
    justify-content: center;
    font-size: 14px;
}

#background-desk-image {
    display: flexbox;
    /* size: 1440px 700px; */
    min-height: 100vh;
    z-index: 0;
    position:fixed;
    top: 0%;
    
    
} 

#title-box {
    display: block;
    position: fixed;
    max-width: 900px;
    min-width: 400px;
    padding-top: 10vh;
    width: 70vh;
    font-size: 1.5vh;

}

h2#author {
    font-size: 3vh !important;
}

h1#main-title {
    display: block !important;
    color: fff;
    font-weight: 700 !important;
    font-size: 7vh !important;
    margin-bottom: 0px !important;
}

p#third-line {
    display: block;
    font-size: 3vh !important;
    align-self: center !important;
    justify-self: center !important;
    padding-right: 0px !important;
    width: 100% !important;
    margin-top: 0px !important;
    text-align: center !important;
    z-index: 2;

}

span#blue-text-animation {
    position: relative;
    text-align: right !important;
    padding-top: 2em !important;
    z-index: 9999 !important;
    transform: rotate(-13deg);
    /* margin-top: 1em !important; */
}


a#help-button {
    display: block !important;
    font-size: 2hv !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-top: .7em;
    padding-bottom: .7em;
    width: 14em;
}







/* ========== HEADINGS ================= */

h2.font-level1 {/* 1st smaller blue title */
    /* animation-delay: 100ms;
    color: #0088cc !important;
    font-weight: 600 !important;
    line-height: 1.7 !important;
    font-size: 1em !important;
    letter-spacing: 2px !important;
    margin-bottom: 0 !important;
    -webkit-font-smoothing: antialiased; */
    
}

h3#tech-stack-heading2 {
    color: white !important;
}

h3.font-level2 {/* 2nd subtitle */
    padding-bottom: 1.0rem;/* add space under title to fix cutoff */
    letter-spacing: 1px;
}

/* ========= TECH GRID =============== */

.tech-grid {
    display: grid;
    gap: 1rem; 
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: 
        repeat(auto-fit, minmax(6rem, 18%));
    padding-block: 2rem;
    justify-content: center;

}
.tech-item, .tech-item h4 {
    text-align: center;
    color: white !important;
    font-size: 1em;
    max-width: 96px;
    justify-self: center;
}

.tech-item img{
    max-width: 96px;
    width: 10vw;
}

/* ========== ABOUT =============== */
section#about {
    /* display: block; */
    position: relative;
    background-color: #eaeff1 !important;
    /* background-image: linear-gradient(to right, #0088cc 0%, #0169fe 100%) !important; */
    z-index: 1002;
    /* opacity: 1 !important; */
}

/* ========== WHAT I DO =========== */
section#what-I-do {
    position: relative;
    background-color: white !important;
}

/* ========== WHAT I DO =========== */
section#what-I-do {
    position: relative;
    background-color: white !important;
}





/* ========== VALUE ADD ==============*/
section#value-add {
    position: relative;
    background-color: white !important;
}

/* ========== VALUE ADD ==============*/
section#testimonials {
    position: relative;
    background-color: #dddddd !important;
}


/* ========== VALUE ADD ==============*/
section#portfolio {
    position: relative;
    background-color: white !important;
}




/* ========== MEDIA =================*/

@media(max-height: 700px){/*This is the smallest the monitor in the picture goes */
    div#title-container {
        
        
        
    }
    div#title-box {
        max-width: 600px;
        width: 500px;
        padding-top: 50px;
        font-size: 9px;
    }

}



/* Web Professional media override */
@media(min-width: 320px){
    .text-sm-start {
        text-align: left !important;
    }
}

@media(min-width: 1200px){
    #main-title-box {
        max-width: 900px !important;
	}
}

@media(min-width: 992px){
    
}

/* Center info on screen*/
@media (min-width: 768px) {
}


@media (min-width: 576px) {
}

/* Keep animated writing on small screens */
@media (min-width: 320px) {
    }
}