
.main {
    background-color: rgba(255, 0, 0, 0);
    z-index: -1;
    
}

.body {
    
}
/* ========== MENU =========*/
.header-row {
    background-color: #333333;
}


    
/* ========== TITLE SCREEN SECTION ======= */

div#title-container {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%; 
    justify-content: center;
    font-size: 14px;
}

#background-desk-image {
    display: flexbox;
    /* size: 1440px 700px; */
    /* min-height: 100vh; */
    width: auto;
    height: 100vh;
    z-index: 0;
    position:fixed;
    top: 0%;
    
    
} 

#title-box {
    display: block;
    position: fixed;
    max-width: 900px;
    /* min-width: 400px; */
    padding-top: 10vh;
    width: 70vh;
    font-size: 2vh;
    color: white !important;

}

h2#author {
    font-size: 2em !important;
    margin-bottom: 2vh !important;
}
h1#main-title {
    display: block !important;
    color: white !important;
    font-weight: 700 !important;
    font-size: 4em !important;
    /* padding-top: 2vh; */
    margin-bottom: .8em !important;
}
p#third-line {
    display: block;
    color: white;
    font-size: 1.75em !important;
    width: 100% !important;
    text-align: center !important;
    margin-bottom: .8em;
    z-index: 2;
}
span#blue-text-animation {
    display: block;
    font-size: 1.5em;
    text-align: right !important;
    padding-top: -5em !important;
    z-index: 9999 !important;
    transform: rotate(-13deg);
    margin-bottom: 2em;
}
.blue-text-dash {
    width: auto;
    height: .3em;
}
a#help-button {
    display: flex !important; 
    font-size: 1em !important;
    margin-left: auto !important;
    margin-right: auto !important;
    
    padding-left: 2em;
    padding-right: .0em;
    padding-top: 0em;
    padding-bottom: .7em;
    width: 14em;
}







/* ========== HEADINGS ================= */

h2.font-level1 {/* 1st smaller blue title */
    /* animation-delay: 100ms;
    color: #0088cc !important;
    font-weight: 600 !important;
    line-height: 1.7 !important;
    font-size: 1em !important;
    letter-spacing: 2px !important;
    margin-bottom: 0 !important;
    -webkit-font-smoothing: antialiased; */
    
}

h3#tech-stack-heading2 {
    color: white !important;
}

h3.font-level2 {/* 2nd subtitle */
    padding-bottom: 1.0rem;/* add space under title to fix cutoff */
    letter-spacing: 1px;
}

/* ========= TECH GRID =============== */

#techstack {
    

}

#techstack-background {
    background-color: aqua;
    width: 100%;
    height: 100%;
    z-index: 0;;
}

.tech-grid {
    display: grid;
    gap: 1rem; 
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: 
        repeat(auto-fit, minmax(6rem, 18%));
    padding-block: 2rem;
    justify-content: center;
    z-index: 9999;

}
.tech-item, .tech-item h4 {
    text-align: center;
    color: white !important;
    font-size: 1em;
    max-width: 96px;
    justify-self: center;
    z-index: 10001;
}

.tech-item img{
    max-width: 96px;
    width: 10vw;
    z-index: 100002;
}

/* ========== ABOUT =============== */
section#about {
    /* display: block; */
    position: relative;
    background-color: #eaeff1 !important;
    /* background-image: linear-gradient(to right, #0088cc 0%, #0169fe 100%) !important; */
    z-index: 1002;
    /* opacity: 1 !important; */
}

/* ========== WHAT I DO =========== */
section#what-I-do {
    position: relative;
    background-color: white !important;
}







/* ========== VALUE ADD ==============*/
section#value-add {
    position: relative;
    background-color: white !important;
}

/* ========== TESTIMONIALS ==============*/
section#testimonials {
    position: relative;
    background-color: #dddddd !important;
}


/* ========== PORTFOLIO ==============*/
section#portfolio {
    position: relative;
    background-color: white !important;
}




/* ========== MEDIA =================*/

@media(max-height: 700px){/*This is the smallest the monitor in the picture goes */
    #title-box {
        /* font-size: .75vh; */
    }
    h2#author {
        font-size: 4vh !important;
        margin-bottom: .25em !important;
    }
    h1#main-title {
        /* font-size: 7vh !important; */
        margin-bottom: 1vh !important;
    }
    p#third-line {
        font-size: 3vh !important;
        margin-bottom: 2.0vh;
    }
    span#blue-text-animation {
        padding-top: -10vh !important;
        margin-bottom: 5vh;
    }
    a#help-button {
        width: 16em;
    }
}
/* Shrink image on small screens */
@media(max-width: 800px) {
    #background-desk-image {
        height: 100vw;
    }
    #title-box {
        max-width: 700px;
        padding-top: 10vw;
        width: 70vw;
        font-size: 2vmin;
    }
    h2#author {
        margin-bottom: .5em !important;
    }
    h1#main-title {
        margin-bottom: .25em !important;
    }
    p#third-line {
        margin-bottom: .25em;
    }
    span#blue-text-animation {
        display: block !important;
        padding-top: -30vh !important;
        margin-bottom: 2em;
    }
}

@media(max-width: 500px) {
    #background-desk-image {
        height: 100vw;
    }
    #title-box {
        max-width: 700px;
        padding-top: 10vw;
        width: 70vw;
        font-size: 2vmin;
    }
    h2#author {
        margin-bottom: -.5em !important;
    }
    h1#main-title {
        margin-bottom: -.25em !important;
    }
    p#third-line {
        margin-bottom: -.75em;
    }
    span#blue-text-animation {
        display: block !important;
        padding-top: -30vh !important;
        margin-bottom: 2em;
    }
    a#help-button {
        width: 20em;
    } 

}

@media(max-height: 490px){/*This is the smallest the monitor in the picture goes */
    h2#author {
        font-size: 4vh !important;
        margin-bottom: 0em !important;
    }
    h1#main-title {
        margin-bottom: 0vh !important;
    }
    p#third-line {
        font-size: 3vh !important;
        margin-bottom: 0vh;
    }
    span#blue-text-animation {
        padding-top: -30vh !important;
        margin-bottom: 2vh;
    }
    a#help-button {
        width: 18em;
    }
}


/* Web Professional media override */
@media(min-width: 320px){
    .text-sm-start {
        text-align: left !important;
    }
}

@media(min-width: 1200px){
    #main-title-box {
        max-width: 900px !important;
	}
}

@media(min-width: 992px){
    
}

/* Center info on screen*/
@media (min-width: 768px) {
}


@media (min-width: 576px) {
}

/* Keep animated writing on small screens */
@media (min-width: 320px) {
    }
}